<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#202124" style="        background-color: #202124;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#3c3e42;" bgcolor="#3c3e42;">
                    <div style="width:600px; height:5px; border-radius: 3px 3px 0 0;background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);"></div>
                    <tr>
                        <td align="left" valign="top" style=" font-family:Arial, Helvetica, sans-serif; padding:10px;padding-left:32px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:#ffffff;">
                                <b>{1}</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" style="padding:10px; color:#f57d07; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                        Congratulations! <small style="color:#ffffff;">You are registered.</small>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; padding:10px; text-align:center;">
                                        <div style="font-size:16px;">
                                            Dear <a style="color: #f57d07;text-decoration: none; font-size:15px">{2}</a>,
                                        </div>
                                        <div style="font-size:12px;">
                                            Thank you for showing your interest  in  our website.
                                            All you need to do is click the button below (it only takes a few seconds).
                                            You won’t be asked to log in to your account – we're simply verifying ownership of this email address.
                                            <hr style="margin: 25px;">
                                            <center>

                                                <button type="button" title="Confirm Account Registration" style="background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%); border:none;">
                                                    <a href="{6}" style="font-size:22px; padding: 10px; color: #ffffff; text-decoration:none; background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);">
                                                        Confirm Email Now
                                                    </a>
                                                </button>

                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#ffffff;">
                                            <b>Please keep your credentials confidential for future use. </b>
                                        </div>
                                        <div style="font-size:16px; color:#ffffff;">
                                            <b>Email         :</b> <a style="color: #f57d07;text-decoration: none; font-size:15px">{2}</a>
                                            <br />
                                            <b>Username :</b> {3} {4}
                                            <br />
                                            <b>Password :</b>{5}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:20px; color:#fff;">
                                            <b>Update your password now.</b>
                                        </div>
                                        <div style="font-size:13px; color:#FFFFFF;">
                                            Weak passwords get stolen and lead to hacked accounts. Celebrate World Password Day with a new, strong password.
                                            <br>
                                            <br>
                                            <a href="#" style="color:#f57d07; text-decoration:underline;">CLICK HERE</a> TO CHANGE PASSOWORD
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>          
                                    <td width="50%" align="left" valign="middle" style="color:#ffffff; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <b>Hours:</b> Mon-Fri 9:30-5:30, Sat. 9:30-3:00, Sun. Closed <br>
                                        <b>Customer Support:</b> <a href="mailto:name@yourcompanyname.com" style="color:#f57d07; text-decoration:none;">name@yourcompanyname.com</a><br>
                                        <br>
                                        <b>Company Address</b><br>
                                        Company URL: <a href="http://www.yourcompanyname.com" target="_blank" style="color:#f57d07; text-decoration:none;">http://www.yourcompanyname.com</a>
                                    </td>
                                </tr>
                            </table>
                            <div style="width:600px; height:5px; border-radius: 0 0 3px 3px;background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);"></div>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   