<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from TCP</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center" valign="top" bgcolor="#202124" style="background-color:#202124; color:#ffffff;">
                <br>
                <br>
                <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#3c3e42;" bgcolor="#3c3e42;">
                    <div style="width:600px; height:4px; border-radius: 3px 3px 0 0;background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);"></div>
                    <tr>
                        <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; padding:10px;">
                            <div style="font-size:36px; color:#ffffff;">
                                <b>{0}</b>
                            </div>
                            <div style="font-size:13px; color:#ffffff;">
                                <b>{1}</b>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="left" valign="top">
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="left" valign="middle" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; padding:10px; text-align:center;">
                                        <div style="font-size:16px;">
                                            Dear <a style="color: #f57d07;text-decoration: none; font-size:15px">{2}</a>,
                                        </div>
                                        <div style="font-size:12px;">
                                            Please confirm that you want to recover your password!
                                            <hr style="margin: 25px;">
                                            <center>
                                                    <a href="{3}" style="border-radius: 7px;font-size:22px; padding: 10px; color: #ffffff; text-decoration: none; background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);">
                                                        Recover password Now
                                                    </a>
                                            </center>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <br>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:10px;">
                                <tr>
                                    <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                        <div style="font-size:13px; color:#FFFFFF;">
                                            Weak passwords get stolen and lead to hacked accounts. Celebrate World Password Day with a new, strong password.
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" align="left" valign="middle" style="color:#ffffff; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                        <b>Customer Support:</b> <a href="mailto:BeeTravel@i.ua" style="color:#f57d07; text-decoration:none;">BeeTravel@support.com</a><br>
                                        <br>
                                        <b>Company Address</b><br>
                                        Company URL: <a href="https://beetravel.tk" target="_blank" style="color:#f57d07; text-decoration:none;">www.BeeTravel.com</a>
                                    </td>
                                </tr>
                            </table>
                            <div style="width:600px; height:4px; border-radius:0 0 3px 3px;background-image: linear-gradient(-90deg,#ffbd4d 0%,#f57507 100%);"></div>

                        </td>
                    </tr>
                </table>
                <br>
                <br>
            </td>
        </tr>
    </table>
</body>
</html>   