@model LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Login";
}


<section id="banner-lr">
    <div class="content">
        <div class="row">
            <div class="col-md-4 reg-log-col">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2>Login</h2>
                    <div class="form-group form-lr">
                        @*<label asp-for="Email" class="control-label"></label>*@
                        <input asp-for="Email" type="email" name="email" id="email" value="" placeholder="Email" style="border-radius: 10px 10px 10px 10px;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group form-lr">
                        @*<label asp-for="Password" class="control-label"></label>*@
                        <input asp-for="Password" type="password" name="password" id="password" value="" placeholder="Password" style="border-radius: 10px 10px 10px 10px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group form-lr">
                        <input type="checkbox" id="human" name="human" checked>
                        <label for="human">Remember Me</label>
                    </div>
                    <div class="form-group form-lr">
                        <input type="submit" value="Войти" class="button special" style="border-radius: 10px 10px 10px 10px;" />
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <h4>Use another service to log in.</h4>
                    <hr />
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                </section>
            </div>
        </div>
        <div class="form-group form-lr reg-log-col">
            <p>
                <a asp-controller="Account" asp-action="Registration" class="button" style="border-radius: 10px 10px 10px 10px; text-decoration:none;">@Localizer["button_register_user"]</a>
            </p>
        </div>
       
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
