@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Сброс пароля";
}

<section id="banner-lr">
    <div class="content" style="text-align:center;">
        <div class="row">
            <div>
                <h2>@ViewData["Title"]</h2>
                <form method="post">
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group form-lr" style="position: relative;">
                        @*<label asp-for="Email" class="control-label"></label>*@
                        <input asp-for="Email" type="email" name="email" id="email" value="" placeholder="Email" style="border-radius: 10px 10px 10px 10px; padding: 12px 45px;margin: 8px 0;border-radius: 10px 10px 10px 10px;" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <i class="fa fa-envelope fa-lg" style=" position: absolute; left: 15px; top: 17px;"></i>
                    </div>
                    <div class="form-group form-lr" style="position: relative;">
                        @*<label asp-for="Password" class="control-label"></label>*@
                        <input asp-for="Password" type="password" name="password" id="password" placeholder="Password" style="border-radius: 10px 10px 10px 10px; padding: 12px 45px;margin: 8px 0;border-radius: 10px 10px 10px 10px;" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <i class="fa fa-key fa-lg" style=" position: absolute; left: 15px; top: 17px;"></i>
                    </div>
                    <div class="form-group form-lr" style="position: relative;">
                        @*<label asp-for="Password" class="control-label"></label>*@
                        <input asp-for="ConfirmPassword" type="password" name="сonfirmpassword" id="сonfirmpassword" placeholder="Confirm Password" style="border-radius: 10px 10px 10px 10px; padding: 12px 45px;margin: 8px 0;border-radius: 10px 10px 10px 10px;" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <i class="fa fa-key fa-lg" style=" position: absolute; left: 15px; top: 17px;"></i>
                    </div>
                    <div class="form-group form-lr">
                        <input type="submit" value="Сбросить" class="button special" style="border-radius: 10px 10px 10px 10px;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>