/* Banner */

#banner-lr {
    background-attachment: fixed;
    background-color: #272833;
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    min-height: 100vh;
    position: relative;
    text-align: center;
    z-index: 21;
}

    #banner-lr:before {
        content: '';
        display: inline-block;
        height: 100vh;
        vertical-align: middle;
        width: 1%;
    }

    #banner-lr:after {
        background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");
        background-image: -webkit-linear-gradient(top, rgb(45 47 60 / 95%), rgba(23, 24, 32, 0.95)), url(images/overlay.png);
        background-image: linear-gradient(top, rgba(23, 24, 32, 0.95), rgba(23, 24, 32, 0.95)), url("images/overlay.png");
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    #banner-lr .content {
        display: inline-block;
        margin-right: 1%;
        max-width: 95%;
        padding: 6em;
        position: relative;
        text-align: left;
        vertical-align: middle;
        z-index: 1;
    }

        #banner-lr .content header {
            display: inline-block;
            vertical-align: middle;
        }

            #banner-lr .content header h2 {
                font-size: 2.5em;
                margin: 0;
            }

            #banner-lr .content header p {
                margin: 0.5em 0 0 0;
                top: 0;
            }

        #banner-lr .content .image {
            border-radius: 100%;
            display: inline-block;
            height: 18em;
            margin-left: 3em;
            vertical-align: middle;
            width: 18em;
        }

            #banner-lr .content .image img {
                border-radius: 100%;
                display: block;
                width: 100%;
            }
.input-lr {
    border-radius: 30px 30px 30px 30px;
   
}
.button-language{
    text-decoration:none;
}
.form-lr{
    margin-bottom: 3rem;
}
@media screen and (max-width: 736px) {

    .cursor-pointer {
        width: 100%;
    }

    .reg-log-col {
        text-align: center;
    }
}
.header-menu {
    opacity: 0.5;
}
    .header-menu:hover {
        opacity: 1;
        transition: .5s;
    }
    .header-menu:not(:hover) {
        opacity: 0.5;
        transition: .5s;
    }
.profile-label {
    margin: 56px 0px -6px 0;
}

.profile-button {
    border-radius: 10px;
}

.input-validation-error {
    border: 1px solid #d42222 !important;
}