@model BeeTravel.Models.SearchUser

<form class="form-header" asp-action="Index" method="get" id="formSearchUser">
    <input asp-for="searchString" class="au-input au-input--xl" type="text" placeholder="Search ..." id="inputSearchUser"/>
    <button class="au-btn--submit" type="submit">
        <i class="zmdi zmdi-search"></i>
    </button>
</form>