@using Microsoft.AspNetCore.Identity
@using BeeTravel.Entities
@inject SignInManager<DbUser> SignInManager
@inject RoleManager<DbRole> RoleManager
@inject UserManager<DbUser> UserManager
@model HomeVM

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = " - User List";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->
                <h3 class="title-5 m-b-35">user table</h3>
                <div class="table-data__tool">
                    <div class="table-data__tool-left">
                        <button class="au-btn au-btn-icon au-btn--blue2 au-btn--small">
                            <i class="fas fa-refresh"></i>
                            <a style="color:white;" asp-action="Index">Reload</a>
                        </button>
                    </div>
                    <div class="table-data__tool-right">
                        <button class="au-btn au-btn-icon au-btn--red au-btn--small">
                            <i class="fas fa-ban"></i>
                            <a style="color:white;" asp-action="BanList">BanList</a>
                        </button>
                        <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                            <i class="fas fa-user-plus"></i>
                            <a style="color:white;" asp-action="Create">Add User</a>
                        </button>
                    </div>
                </div>
                <div class="table-responsive table-responsive-data2">
                        @await Html.PartialAsync("_UserSearch", Model.Search)
                    <div id="content-user-table">
                        @await Html.PartialAsync("_TableUser", Model.Users)

                    </div>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
    $(function () {
        const form = $("#formSearchUser");
        form.submit(function (e) {
            e.preventDefault();
                        //console.log("Form serialize", $(this).serialize());

            var formData = form.serialize();

            $.ajax({
                url: '@Url.Action("SearchUser", "Administration")',
                type: "GET",
                data: formData,
                success: function (data) {
                    $("#content-user-table").html(data);
                  // console.log("Result", data);
                }
            });
          //  alert("Search");
        });
    });
    </script>
}